<div class="gt-sidebar">
				<!-- Sidebar Navigation -->
				<div class="gt-sidebar-nav gt-sidebar-nav-blue">
					<h3>Quick Links</h3>
					<ul>
						<li><%= link_to 'Add a New Property', new_property_path %></li>
						<li><a href="">Edit User Settings</a></li>
						<li><a href="">View Live Site</a></li>
					</ul>
				</div><!-- /Sidebar Navigation -->
				
				<!-- Sidebar Box -->
				<div class="gt-sidebar-box gt-sidebar-box-gray">
					<!-- search -->
					<div class="gt-search"><div class="gt-search-inner">
						<input type="text" class="gt-search-text" value="Find an Article" onfocus="javascript:if(this.value=='Find an Article')this.value='';" onblur="javascript:if(this.value=='')this.value='Find an Article';" />
					</div></div><!-- /search -->
				</div><!-- /Sidebar Box -->
				
				<!-- Sidebar Navigation -->
				<div class="gt-sidebar-nav gt-sidebar-nav-gray">
					<h3>Get Help</h3>
					<ul>
						<li><a href="mailto:help@gooeytemplates.com">Email Us</a></li>
					</ul>
				</div><!-- /Sidebar Navigation -->
				
				<!-- Sidebar Content -->
				<div class="gt-sidebar-content">
					<h3>Sidebar Note</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div><!-- /Sidebar Content -->
				
				<!-- Sidebar List -->
				<div class="gt-sidebar-list">
					<h3>Users List</h3>
					<ul class="gt-sidebar-list-content">
						<li class="gt-sidebar-list-row">
							<img class="gt-avatar-small" src="images/gt/avatar-small.gif" alt="avatar-small" width="25" height="25"/>
							<h4><a href="">John Marker</a></h4>
							<p>I love to color pictures!</p>
						</li>
						
						<li class="gt-sidebar-list-row">
							<img class="gt-avatar-small" src="images/gt/avatar-small.gif" alt="avatar-small" width="25" height="25"/>
							<h4><a href="">Charlee Watts</a></h4>
							<p>Eco-friendly is the way to go!</p>
						</li>
						
						<li class="gt-sidebar-list-row">
							<img class="gt-avatar-small" src="images/gt/avatar-small.gif" alt="avatar-small" width="25" height="25"/>
							<h4><a href="">Sarah Smith</a></h4>
							<p>I love to draw...</p>
						</li>
					</ul>
				</div><!-- /Sidebar List -->
				
			</div>
