<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
		
		<!-- Partial to head & nav bar -->
		<%= render 'layouts/header' %>

		
		<!-- body -->
		<div class="gt-bd gt-cols clearfix">
			
			

			<%= yield %>
				
			
			<!-- / main content -->
			
			
			
		</div>
		<!-- / body -->
		
		<!-- footer -->
		<div class="gt-footer"><div class="gt-footer-inner">
			<%= render 'layouts/footer' %>
		</div></div>
		<!-- /footer -->
	</body>
</html>
